<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main>
        <div class="login">
          
          <div class="form">
            <div class="errores">
              <ul>
                <% typeof errors != 'undefined' && errors.forEach(error => { %>
                  <li> <%= error.msg %></li>
                <%})%>
              </ul>
            </div>
            <br>
            <form action="/user/login" method="post"  class="login-form" id="loginForm">
              <input type="text" placeholder="Usuario"  name="email" id="loginEmail"/>
              <input type="password" placeholder="Contraseña" name="password" id="loginPassword"/>
              <button type="submit">Iniciar Sesión</button>
              <p class="message">¿No estas registrado?<a href="/register">Crear una cuenta</a></p>
            </form>
          </div>
        </div>
      </main>

      <%- include('./partials/footer') %>

      <!-- <script src="/js/loginValidation.js"></script>  -->


  </body>

  </html>