<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Bienvenido NFT! <%= user.name%>
      </h2>
      <div class="avatar">
        <img src="/images/usersImg/" <%=user.image %>">
      </div>
      <br>
      <br>
      <div class="alert alert-success">
        <h2>Tu correo es <%= user.email %>
        </h2>
      </div>
    </div>
  </div>
</div>


<%- include('./partials/footer') %>
  </body>

  </html>