<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/detail.css">
    
    <main>
        <section class="contenedor-producto">
            <h2>Saint Ape</h2><br>
            <div class="detalle-producto">
                <div class="foto-producto"><img src="/images/nuevas-obras-01.jpg"></div>
                <div class="detalle-producto">
                    <br><h3>Saint Ape</h3><br>
                    <h4>Detalle del producto</h4>
                    <p>Collección Ape</p>
                    <p>Valuado en 0.05 ETH</p><br>
                    <p>Apes inspiran celos entre aquellos<br> que tienen e intercambian NFT, <br>
                        pero confusion y suspenso entre aquellos <br>que no y quieren entrar al mundo NFT.
                    </p>
                </div>
                <div class="botonera-producto">
                    <button class="boton">Hacer una Oferta</button>
                    <a href="/productCart"><button class="boton">Comprar</button></a>
                </div>
            </div><br>


        </section>
    </main>
    
    <%- include('./partials/footer') %>
   
</body>
</html>