<header>
    <section class="barra-logo">

        <div class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </div>

        <div class="logo">
            <a href="/">
                <img src="/images/logo_NFT-logo.png">
            </a>
        </div>

        <div class="iconos-barra-logo">
            <% if (session.userLogged && session.userLogged==1) { %>
                <a href="/admin">
                    <i class="fas fa-user-cog"></i>
                </a>
                <% } %>

                    <div class="menu-hamburguesa">
                        <i class="fas fa-bars"></i>
                    </div>

                    <!-- <div class="logo">
            <a href="/">
            <img src="/images/logo_NFT-logo.png">
          </a>
        </div> -->

                    <!-- <div class="iconos-barra-logo">
            <a href="/admin">
                <i class="fas fa-user-cog"></i>
            </a> -->
                    <a href="/login">
                        <i class="fas fa-user"></i>
                    </a>

                    <a href="/user/productCart">
                        <i class="fas fa-shopping-cart"> </i>
                    </a>
                    <a href="/user/logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>

        </div>
    </section>
    <section class="menu-header">
        <ul>
            <li href="/"><i class="fas fa-home"></i></li>
            <li href="#">CATEGORÍAS</li>
            <li href="#">TOP VENTAS</li>
            <li href="#">NUEVOS</li>
            <li href="#">RECURSOS</li>
        </ul>
    </section>
    <form class="buscador" action="/search">
        <input type="search" class="caja-buscador" placeholder="Buscador" name="searchAllProds">
        <button type="submit" class="boton-buscador">
            <i class="fa fa-search"></i>
        </button>
    </form>
</header>